.section-header {
  display: inline-block;
  width: 100%;

  &--center {
    margin-bottom: 40px;

    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 70px;
    }

    h2 {
      margin-bottom: 10px;
    }

    h3 {
      width: 0px;
      min-width: 100%;
    }
  }

  &--left {
    margin-bottom: 20px;
  }
}
